# for the web app
flask~=2.0.1
flask-table~=0.5.0

# reading/writing csv files
# had some difficulties compiling, so may want --prefer-binary on install
pandas~=1.3.1

# html parser
beautifulsoup4~=4.9.3

# http requests
requests~=2.26.0
